body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field-group {
    margin-bottom: 16px;
}

.field-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #444;
}

.field-group input , select{
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    background: #fafafa;
}

.field-group input:focus {
    border-color: #007bff;
}

.error {
    text-align: center;
    color: red;
    font-size: 12px;
}